.grid_con{
  height: 80ch;;
}
.main_form{
  display:flex;
  flex-direction: column;
}
.App{

 background: rgb(238, 174, 202);
 background:radial-gradient(circle,

 rgba(238,174,202,1)0%,
 rgba(25,92,171,1)91%
 
 )

}
